/* Light Mode */
html, body {
    margin: 0;
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

/* Dark Mode */
.dark-mode {
    background: #1e1e1e;
    color: #ccc;
}

    .dark-mode .score-container,
    .dark-mode .best-container,
    .dark-mode .grid-cell,
    .dark-mode .game-container {
        background: #333;
    }

    .dark-mode .tile {
        background: #444;
    }

    .dark-mode .tile-inner {
        color: #fff;
    }
